/* Product Page Image */
.product-page img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

/* Hover Effect on Image */
.product-page img:hover {
  transform: scale(1.05);
}

/* Responsive Row Layout */
@media (max-width: 767px) {
  .product-page .row {
      gap: 30px;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
}

/* Rating Section */
.product-page .rate {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 30px;
}

/* Star Ratings */
.product-page .rate .stars i {
  font-size: 14px;
  color: #ffcd4e;
  margin-right: 5px;
}

/* Product Info Section */
.product-page .info {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

/* Product Price */
.product-page .info .price {
  font-size: 26px;
  font-weight: 600;
  color: #0f3460;
}

/* Product Description */
.product-page p {
  font-size: 15px;
  margin: 20px 0;
  line-height: 1.6;
  color: #333;
}

/* Quantity Input Field */
.product-page .qty-input {
  width: 80px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0;
  color: black;
  font-size: 16px;
  text-align: center;
  transition: border 0.3s ease-in-out;
}

/* Quantity Input Focus Effect */
.product-page .qty-input:focus {
  border: 1px solid #0f3460;
  outline: none;
}

/* Add to Cart Button */
.product-page button.add {
  padding: 12px 18px;
  background-color: #222831;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

/* Add to Cart Button Hover Effect */
.product-page button.add:hover {
  background: #f80404;
  transform: scale(1.05);
}

